name: Build Next.js Docker Image on VPS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy project to VPS
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "."
          target: "~/startpay"

      - name: Build Docker image on VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          # timeout: 300
          script: |
            set -e

            cd ~/startpay || mkdir -p ~/startpay && cd ~/startpay
            echo "Building & starting app with Docker Compose..."
            docker compose down
            docker compose up -d --build
            echo "Deployment complete!"
